{% extends 'layout.html' %}

{% block body %}
    <h1>About</h1>
    <p> Putting importance value on truth and trust, colechain believes that everyone should receive salary that they deserved only based on extrinsic value. To accomplish this vision, we’re currently in process of creating blockchain platform where companies and everyday user can access the data to have reference of how much companies should be paying the workers equitably.
Our business model relies on analytical aspect of blockchain ledger we created to better service companies in how they can use blockchain data. Currently targeting software engineer entry level job, we’re creating algorithm to best analyze salary on extrinsic value and will scale to different industry as well as higher level job.</p>
{% endblock %}
